@media screen and (min-width: 360px) and (max-width: 412px) {

	.container {
		margin-left: 6%;
		margin-top: 35%;
		width: 80%;
		padding: 4%;
	}

	.form h1 {
		font-size: 170%;
		margin-left: 25%;
		margin-bottom: 5%;
	}

	a {
		font-size: 94%;
	}
	
	p{
		font-size: 94%;
	}
  }

@media screen and (min-width: 320px) and (max-width: 360px) {
	a {
		font-size: 90%;
	}
	
	p{
		font-size: 90%;
	}
} 


@media only screen and (min-device-width:768px)and (orientation:portrait){
	.container {
		margin-left: 20%;
		margin-top: 25%;
		width: 50%;
		padding: 3%;
	}

	a {
		font-size: 110%;
	}
	
	p{
		font-size: 110%;
	}

	input {
		font-size: 16px;
	}
}

@media only screen and (min-device-width:768px) and (max-device-width:900px) and (orientation:landscape){
	.container {
		margin-left: 23%;
		margin-top: 12%;
		width: 50%;
		padding: 3%;
	}

	a {
		font-size: 125%;
	}
	
	p{
		font-size: 135%;
	}

	input {
		font-size: 18px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 435px) and (orientation:portrait) {
	.container {
		margin-left: 10%;
		margin-top: 38%;
		width: 75%;
		padding: 4%;
	}

	a {
		font-size: 95%;
	}
	
	p{
		font-size: 75%;
	}

	input {
		font-size: 14px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 320px) {
	.form h1 {
		margin-left: 23%;
	}
}